* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* This style is added to prevent overflow when using controls. This setting is not maditory  */
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
